<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Manga Mango </title>
</head>
<body>
    <h1>This is a beginning of something beautiful, maybe </h1>

    <a href="aboutus.ejs">click me!</a>

    <script src="scriptz/effects.js"></script>
</body>
</html>