*{
    font-family: "Fredoka", sans-serif;
}

body{
    background-color: #1c1c1c;
    color: #fff;
}

li,a, .navbar, .navbar-brand, .nav-link{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #24e4f4;
}


/* NAVBARS */
.navbar{
    z-index: 5;
}

.navbar-brand:hover{
    color: #24e4f4;
}

.nav-link:hover{
    color: #24e4f4;
}

/* BANNER */
.banner{
    height: 40rem;
    padding: 2%;
    background-color: #1c1c1c;
}
  
.banner p{
    font-size: 3rem;
    padding: 1%;
    text-align: center;
    margin: auto;
}

.bannerdiv{
    background : linear-gradient(45deg, black, gray);
    border-radius: 25px;
}

/* color pallets : 
cyan - #24e4f4
blue - #7c64fc
gray - #e4e6e6
lightblack - #1c1c1c
darkblack - #0c0c0c
*/